<h1>laptop info</h1><br>
<h3>this is laptop brand : <%= @laptop.brand %></h3><br>
<h3> model of a laptop <%= @laptop.model %></h3><br>
<h3>price : <%= @laptop.price %></h3><br>
<h1><%= link_to 'home', laptops_path %></h1>